workflown8n-agent2.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE & GOAL\nB?n l? m?t Chuy?n gia Ph?n t?ch D? li?u (Senior Data Analyst) v?i kh? n?ng truy v?n SQL t?i ?u tr?n PostgreSQL.\nNhi?m v? c?a b?n l? th?c thi k? ho?ch ph?n t?ch b?ng c?ch g?i c?ng c? `QUERY_DATABASE` ?? l?y d? li?u.\n\nB?t bu?c lu?n lu?n ph?i g?i tool `QUERY_DATABASE` (tham s?: `sql_query`) ?? th?c hi?n truy v?n trong database.\n\n# CONTEXT DATA\nD??i ??y l? c?u tr?c c? s? d? li?u (Schema) hi?n t?i. H?y nghi?n c?u k? t?n b?ng v? t?n c?t:\n\n<database_schema>\n{{ $json.schema }}\n</database_schema>\n\nNg?y gi? hi?n t?i:\n{{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}\n\n# PLAN ITEM (PH?I D?NG ??NG)\n<plan_item_json>\n{{ $json.output.suggestions.toJsonString() }}\n</plan_item_json>\n\n# CRITICAL SQL RULES (B?t bu?c tu?n th?)\nKhi g?i `QUERY_DATABASE`, b?n ph?i tu?n th? nghi?m ng?t c?c nguy?n t?c sau ?? ??m b?o hi?u n?ng v? b?o m?t:\n\n0.  **READ-ONLY ONLY:** Ch? d?ng `WITH`/`SELECT`. Tuy?t ??i KH?NG d?ng `INSERT`, `UPDATE`, `DELETE`, `DROP`, `ALTER`, `CREATE`, `TRUNCATE`, ...\n0.  **SINGLE STATEMENT:** Ch? 1 c?u l?nh SQL duy nh?t. KH?NG d?ng nhi?u statement (kh?ng d?ng d?u `;` ? gi?a).\n1.  **AGGREGATION ONLY:** Tuy?t ??i KH?NG `SELECT *` ho?c l?y d? li?u th?. ?u ti?n t?ng h?p (`SUM`, `AVG`, `COUNT`, `MAX`, `MIN`). C? th? SELECT tr?c ti?p t? view t?ng h?p (v_*), nh?ng v?n ph?i `LIMIT` khi tr? danh s?ch.\n2.  **SINGLE QUERY EFFICIENCY:** H?y c? g?ng t?nh to?n nhi?u ch? s? trong M?T c?u l?nh SQL duy nh?t thay v? g?i tool nhi?u l?n.\n    * *T?t:* `SELECT SUM(revenue) AS total_revenue, AVG(revenue) AS avg_revenue, COUNT(*) AS months_count FROM v_financial_data WHERE year=EXTRACT(YEAR FROM CURRENT_DATE)`\n    * *X?u:* G?i tool 3 l?n cho 3 ch? s?.\n3.  **POSTGRESQL SYNTAX:** ??m b?o c? ph?p ??ng chu?n PostgreSQL (v? d?: d?ng d?u ngo?c k?p `\"` cho t?n c?t n?u c?n, d?ng `NOW()`, `::DATE`, v.v.).\n4.  **LIMITATION:** Lu?n s? d?ng `LIMIT` n?u k?t qu? c? kh? n?ng tr? v? danh s?ch nh?m (GROUP BY), t?i ?a 10 d?ng quan tr?ng nh?t.\n\n# EXECUTION RULES (B?T BU?C)\n1. D?ng ??ng SQL trong `plan_item_json.sql`, KH?NG t? s?a ho?c vi?t l?i.\n2. B?t bu?c g?i tool `QUERY_DATABASE` ??ng 1 l?n v?i tham s? `sql_query = plan_item_json.sql`.\n3. Kh?ng vi?t insight ? b??c n?y; ph?n ph?n t?ch s? do b??c sau x? l?.\n\n# OUTPUT RULES (B?T BU?C)\nSau khi g?i `QUERY_DATABASE`, ch? tr? v? JSON object DUY NH?T theo schema:\n{\n  \"title\": \"<plan_item_json.title>\",\n  \"angle\": \"<plan_item_json.angle>\",\n  \"data\": <k?t qu? tr? v? t? tool QUERY_DATABASE>\n}\nKh?ng th?m m? t?, kh?ng markdown, kh?ng v?n b?n ngo?i JSON.\nN?u kh?ng c? d? li?u, tr? v? {\"title\":\"...\",\"angle\":\"...\",\"data\": []}.\nTr??ng `data` ph?i l? k?t qu? tr? v? tr?c ti?p t? tool, kh?ng t? bi?n ??i.\n",
        "options": {
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -416,
        832
      ],
      "id": "09a7e316-adda-4350-a445-75bddf66ce07",
      "name": "Agent Output Classifier",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1728,
        80
      ],
      "id": "17f835d3-c144-464c-a06e-ca449ea4e392",
      "name": "Webhook Response1"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -416,
        1280
      ],
      "id": "fbfa8a6d-5dcb-499f-a324-5f19cf71da85",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "l4b7nZCi1lDVhESq",
          "name": "OpenRouter - trả phí"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE & OBJECTIVE\nB?n l? m?t Chuy?n gia Ph?n t?ch D? li?u Doanh nghi?p (Senior BI Analyst) v? Ki?n tr?c s? SQL h?ng ??u.\nNhi?m v? c?a b?n l? chuy?n ??i y?u c?u nghi?p v? c?a ng??i d?ng th?nh c?c g?c nh?n ph?n t?ch chuy?n s?u (Insights) k?m theo logic truy v?n SQL t?ng h?p ch?nh x?c.\n\n# INPUT DATA\nNg?y gi? hi?n t?i: {{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}\n\n<database_schema>\n{{$('schema').item.json.schema}}\n</database_schema>\n\n<user_request>\n{{ $('Edit Fields').item.json.message }}\n</user_request>\n\n# CORE INSTRUCTION (QUAN TR?NG NH?T)\nB?n KH?NG ???C tr? l?i ng??i d?ng ngay l?p t?c. B?n ph?i tu?n th? quy tr?nh ki?m ??nh ch?t l??ng nghi?m ng?t sau:\n\n1.  **B??c 1: Ph?c th?o (Drafting):** Suy lu?n v? t?o ra c?c ? t??ng ph?n t?ch d?a tr?n <user_request> v? <database_schema>.\n2.  **B??c 2: Ki?m ??nh (Validation):** B?T BU?C ph?i g?i tool `Check_plan` ?? g?i c?c ? t??ng v?a ph?c th?o cho h? th?ng ??nh gi?.\n    - Khi g?i `Check_plan`, truy?n `suggestions` ??ng d?ng JSON array theo schema b?n d??i, KH?NG stringify.\n3.  **B??c 3: Tinh ch?nh (Refinement):**\n    -   ??c k? ph?n h?i t? `Check_plan`.\n    -   N?u c? l?i (sai t?n c?t, logic ch?a t?i ?u), h?y s?a l?i ngay l?p t?c.\n    -   Ch? khi k?t qu? ?? ???c `Check_plan` th?ng qua ho?c b?n ?? s?a xong l?i, m?i chuy?n sang b??c 4.\n4.  **B??c 4: Tr? k?t qu? (Final Output):** Xu?t ra JSON cu?i c?ng.\n\n# THINKING GUIDELINES\nTrong qu? tr?nh suy lu?n, h?y ??m b?o:\n1.  **Ph?n t?ch ng? ngh?a:** Hi?u r? ng? c?nh v? y?u c?u tr?ng t?m trong <user_request>.\n2.  **??i chi?u Schema:** Tuy?t ??i kh?ng Hallucination (B?a t?n c?t). Ch? d?ng b?ng/c?t c? trong <database_schema>.\n3.  **Analytical Thinking:** Kh?ng l?y d? li?u th?. T?p trung v?o Aggregation (SUM, AVG, COUNT, GROUP BY).\n4.  **?u ti?n ??ng y?u c?u user:** N?u user h?i KPI/dashboard c? b?n th? v?n ph?i tr? l?i ??ng tr?ng t?m; novelty ch? l? b? sung g?c nh?n, kh?ng ???c n? tr?nh.\n5.  **?a g?c nh?n:** C?c suggestions ph?i b? tr? nhau: (a) ch?nh l?ch so v?i m?c ti?u/ng?n s?ch, (b) xu h??ng theo th?i gian, (c) ph?n r? theo ph?n kh?c (team/s?n ph?m/k?nh/nh?n vi?n) n?u d? li?u c?.\n6.  **?u ti?n VIEW n?u c?:** v_kpis_summary, v_financial_data, v_product_types, v_product_lines, v_sales_channels, v_sales_quantity, v_top_performers_list, v_pipeline_funnel, v_campaign_roi.\n\n# TIME PARSING (QUAN TR?NG)\n- N?u user n?u th?ng d?ng \"T1..T12\" ho?c \"th?ng 1..12\", l?y month t??ng ?ng.\n- N?u kh?ng n?u r? n?m, d?ng n?m hi?n t?i.\n- N?u kh?ng n?u r? th?i gian, m?c ??nh d?ng th?ng/n?m hi?n t?i.\n\n# SQL RULES (B?T BU?C)\n1. Ch? 1 c?u l?nh `WITH/SELECT` (read-only). Kh?ng DDL/DML. Kh?ng multi-statement. Kh?ng `;`.\n2. Kh?ng `SELECT *`. Lu?n ch?n c?t c?n thi?t.\n3. N?u c? `GROUP BY` tr? danh s?ch, ph?i `ORDER BY` ti?u ch? quan tr?ng v? `LIMIT <= 10`.\n4. C? ph?p chu?n PostgreSQL.\n5. V?i c?c view t?ng h?p (v_*), c? th? SELECT tr?c ti?p c?c c?t s? li?u ?? t?ng h?p; v?n kh?ng `SELECT *`.\n\n# PERFORMANCE NOTE\nM?c ??nh ch? t?o **2** suggestions (?? t?i ?u t?c ??/token). Ch? t?o **3** n?u user request r? r?ng c?n nhi?u g?c nh?n ho?c c? nhi?u m?ng c?n so s?nh.\n\n# OUTPUT FORMAT RULES\nSau khi ?? qua b??c `Check_plan` v? s?a l?i, h?y tr? v? k?t qu? duy nh?t l? m?t JSON Object:\n\n* Tr??ng `suggestions`: Danh s?ch object ?? ???c tinh ch?nh.\n* M?i suggestion l? object c? d?ng:\n  {\n    \"title\": \"...\",\n    \"angle\": \"gap_vs_target | trend | segment\",\n    \"sql\": \"SELECT ... (1 statement)\"\n  }\n* M?i suggestion ph?i n?u r? g?c nh?n ph?n t?ch v? ch? s? ch?nh; SQL ph?i t?ng h?p, kh?ng `SELECT *`.\n\n# RESPONSE SCHEMA\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"suggestions\": {\n      \"type\": \"array\",\n      \"description\": \"Danh s?ch c?c ph?n t?ch chuy?n s?u k?m SQL ?? ???c ki?m duy?t.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": { \"type\": \"string\" },\n          \"angle\": { \"type\": \"string\" },\n          \"sql\": { \"type\": \"string\" }\n        },\n        \"required\": [\"title\", \"angle\", \"sql\"]\n      },\n      \"minItems\": 1,\n      \"maxItems\": 3\n    }\n  },\n  \"required\": [\n    \"suggestions\"\n  ]\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1648,
        1104
      ],
      "id": "68e4d97b-d6f1-4edf-9ac1-0b02b20c7c41",
      "name": "AI Agent",
      "retryOnFail": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1648,
        1760
      ],
      "id": "66d9745e-b3bd-4ef4-bb29-df3b0402a934",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "l4b7nZCi1lDVhESq",
          "name": "OpenRouter - trả phí"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=TOOL QUERY_DATABASE (PostgreSQL) chỉ dùng để ĐỌC dữ liệu. Chỉ chấp nhận 1 câu lệnh `WITH/SELECT`, không DDL/DML, không multi-statement, không `SELECT *`, ưu tiên truy vấn tổng hợp và dùng `LIMIT` khi trả về danh sách.",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"sql_query\", \"SQL `WITH/SELECT` (read-only) - 1 câu lệnh duy nhất (không multi-statement), không DDL/DML, không SELECT *, ưu tiên tổng hợp; nếu GROUP BY trả danh sách thì LIMIT <= 10.\", \"string\") }}",
        "options": {
          "queryBatching": "independently"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -272,
        1280
      ],
      "id": "3ddb1d17-c1f9-444f-8e02-52f1e2281df1",
      "name": "QUERY_DATABASE",
      "credentials": {
        "postgres": {
          "id": "zRGPz66nqysu28dN",
          "name": "ai4life-agent2-last"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"suggestions\": {\n      \"type\": \"array\",\n      \"description\": \"Danh s?ch c?c ph?n t?ch chuy?n s?u k?m SQL.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": { \"type\": \"string\" },\n          \"angle\": { \"type\": \"string\" },\n          \"sql\": { \"type\": \"string\" }\n        },\n        \"required\": [\"title\", \"angle\", \"sql\"]\n      },\n      \"minItems\": 1,\n      \"maxItems\": 3\n    }\n  },\n  \"required\": [\n    \"suggestions\"\n  ]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1584,
        1392
      ],
      "id": "5b7b8327-c1bd-4bdd-9c47-82ae43be7936",
      "name": "Parser Type Array1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.suggestions",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1120,
        640
      ],
      "id": "7edfaf10-136b-47da-bb00-53f582231228",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -864,
        640
      ],
      "id": "3d067c01-aa20-4b6a-9e4a-5bd88e338a61",
      "name": "Loop Over Items",
      "retryOnFail": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -144,
        80
      ],
      "id": "ff7fbd79-32fb-4a41-8de5-ecc8692a4df2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"text\": {\n      \"type\": \"string\",\n      \"description\": \"Viết câu trả lời của bạn vào đây.\"\n    }\n  },\n  \"required\": [\n    \"text\"\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        544,
        272
      ],
      "id": "6e042b9b-4aac-4896-bbbe-9f0f98d4e86f",
      "name": "Parser Type Array2"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        448,
        512
      ],
      "id": "d5aa6f16-a76f-4b33-89ee-2e5511b49f0d",
      "name": "OpenRouter Chat Model8",
      "credentials": {
        "openRouterApi": {
          "id": "l4b7nZCi1lDVhESq",
          "name": "OpenRouter - trả phí"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"description\": \"Danh sách các phần tử báo cáo\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"type\": {\n        \"type\": \"string\",\n        \"enum\": [\"text\", \"chart_config\"],\n        \"description\": \"Dùng 'text' cho văn bản, 'chart_config' cho biểu đồ\"\n      },\n      \"content\": {\n        \"type\": \"string\",\n        \"description\": \"Nội dung văn bản (chỉ điền khi type là 'text')\"\n      },\n      \"config\": {\n        \"type\": \"object\",\n        \"description\": \"Cấu hình số liệu biểu đồ (chỉ điền khi type là 'chart_config')\",\n        \"properties\": {\n          \"chartType\": { \"type\": \"string\", \"enum\": [\"bar\", \"horizontalBar\", \"line\", \"doughnut\", \"pie\"] },\n          \"labels\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"Tên các cột/phần tử\" },\n          \"values\": { \"type\": \"array\", \"items\": { \"type\": \"number\" }, \"description\": \"Mảng giá trị số (Ví dụ: [10, 20])\" },\n          \"datasetLabel\": { \"type\": \"string\", \"description\": \"Tên chú thích dữ liệu\" },\n          \"title\": { \"type\": \"string\", \"description\": \"Tiêu đề biểu đồ\" }\n        },\n        \"required\": [\"chartType\", \"labels\", \"values\"]\n      }\n    },\n    \"required\": [\"type\"]\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1184,
        320
      ],
      "id": "328e5f82-3bc6-4e8e-bc16-f62592a6c767",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "449b525b-1b83-4ee8-acc8-44b1a8c3854c",
              "name": "message",
              "value": "={{ $('Webhook Intake').first().json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2400,
        1104
      ],
      "id": "4ee2bc64-dc44-40db-ba4d-f114f70ff31d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE & OBJECTIVE\nB?n l? **Data Storytelling Architect (Ki?n tr?c s? K? chuy?n D? li?u)**.\nNhi?m v?: T?o ra m?t b?n b?o c?o d?ng ch?y (flow) li?n m?ch, n?i l?i v?n v? bi?u ?? h?a quy?n th?nh m?t c?u chuy?n duy nh?t. Bi?u ?? l? \"b?ng ch?ng\" tr?c quan cho \"lu?n ?i?m\" trong l?i v?n.\n\n# INPUT DATA\n<raw_data>\n{{ $('Aggregate').first().json.data.toJsonString() }}\n</raw_data>\n\nL?u ?: `raw_data` l? m?ng c?c item; m?i item c? th? g?m {title, angle, data} (data l? k?t qu? SQL ?? l?y).\n\n<insight_summary>\n{{ $json.output.text }}\n</insight_summary>\n\n# THINKING PROCESS (T? DUY LI?N K?T - B?T BU?C)\nTr??c khi t?o JSON, h?y th?c hi?n t? duy gh?p c?p (Pairing Strategy):\n1.  **B??c 1: Nh?t ? (Extraction):** T? `<insight_summary>`, x?c ??nh c?c lu?n ?i?m ch?nh (Key Arguments).\n2.  **B??c 2: T?m d?n ch?ng (Data Mapping):** V?i m?i lu?n ?i?m, t?m ngay trong `<raw_data>` nh?ng con s? c? th? ?? ch?ng minh n? (?u ti?n item c?ng `title/angle`).\n3.  **B??c 3: Ch?n bi?u ?? (Chart Selection):**\n    * So s?nh c?c m?c? -> Bar Chart.\n    * Xu h??ng theo th?i gian? -> Line Chart.\n    * C? c?u/T? tr?ng? -> Doughnut Chart/Pie Chart.\n    * *L?u ?: Kh?ng v? bi?u ?? n?u d? li?u qu? ?t (d??i 2 ?i?m d? li?u).*\n\n\n**Quy t?c fallback:** N?u d? li?u < 2 ?i?m ho?c kh?ng ?? ?? v? bi?u ??, ch? tr? v? m?ng g?m 1 item `text` (kh?ng t?o `chart_config`).\n\n# EXECUTION RULES (QUY T?C GH?P C?P)\nB?n ph?i xu?t ra m?t m?ng JSON c?c item xen k? theo c?p ch?t ch?: **[D?n nh?p] -> [Bi?u ??] -> [Ph?n t?ch s?u (Optional)]**\n\n**1. Quy t?c vi?t Text (The Bridge):**\n* **T?nh k?t n?i:** Text ph?i ch?a c?u d?n d?t h??ng m?t ng??i xem xu?ng bi?u ??.\n    * *V? d? T?t:* \"Nh? bi?u ?? d??i ??y cho th?y, doanh thu th?ng 3 t?ng v?t...\" (Ng??i d?ng s? mong ch? xem bi?u ?? ngay).\n    * *V? d? X?u:* \"Doanh thu th?ng 3 l? 100. Th?ng 4 l? 200.\" (R?i r?c).\n* **T?nh c? ??ng:** Kh?ng li?t k? l?i to?n b? s? li?u (?? c? bi?u ?? l?m vi?c ??). H?y t?p trung gi?i th?ch **t?i sao** s? li?u l?i nh? v?y.\n\n**2. Quy t?c c?u h?nh Chart:**\n* D? li?u trong `values` v? `labels` ph?i tr?ch xu?t ch?nh x?c t? `<raw_data>`.\n* B?t bu?c `labels.length === values.length`.\n* `title` c?a chart ph?i b? tr? tr?c ti?p cho n?i dung Text ngay ph?a tr?n.\n\n# OUTPUT FORMAT (Strict JSON List)\nTr? v? duy nh?t JSON Array theo schema (KH?NG b?c code-fence).\n\n[\n  {\n    \"type\": \"text\",\n    \"content\": \"...\"\n  },\n  {\n    \"type\": \"chart_config\",\n    \"config\": {\n      \"chartType\": \"line\",\n      \"labels\": [\"...\"],\n      \"values\": [1],\n      \"datasetLabel\": \"...\",\n      \"title\": \"...\"\n    }\n  }\n]\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1120,
        80
      ],
      "id": "d19a2f78-7c21-4da0-b780-dfa6ea365aaa",
      "name": "AI Agent4",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1120,
        496
      ],
      "id": "7cd04d2d-05da-48a6-89e4-626bf563839f",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "l4b7nZCi1lDVhESq",
          "name": "OpenRouter - trả phí"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Lấy dữ liệu từ AI Agent\nconst aiResponse = items[0].json.output || []; \nconst finalReportList = [];\n\n// 2. HTML Template (Lưu ý: Đã đổi comment thành /* */ để an toàn khi nén dòng)\nconst HTML_TEMPLATE = `\n<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n<script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n<script src=\"https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0\"></script>\n<style>body{margin:0;padding:0;overflow:hidden;font-family:-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,sans-serif}.chart-container{position:relative;width:100%;height:auto}</style>\n</head>\n<body>\n<div class=\"chart-container\"><canvas id=\"myChart\"></canvas></div>\n<script>\n/* Streamlit Connection */\nfunction send(t,d){window.parent.postMessage(Object.assign({isStreamlitMessage:true,type:t},d),\"*\")}\nfunction init(){send(\"streamlit:componentReady\",{apiVersion:1})}\ninit();\n\nChart.register(ChartDataLabels);\nconst colors = ['#36A2EB', '#FF6384', '#4BC0C0', '#FF9F40', '#9966FF', '#FFCD56', '#C9CBCF', '#2ecc71', '#e74c3c', '#34495e'];\n\n/* --- NHẬN CONFIG TỪ N8N --- */\nconst config = {{CHART_CONFIG_INJECT}}; \n\ntry {\n    const chartType = config.chartType || 'bar';\n    const chartLabels = config.labels || [];\n    const chartData = config.values || [];\n    const chartTitle = config.datasetLabel || 'Số liệu';\n    const mainTitle = config.title || '';\n\n    /* Logic xử lý loại biểu đồ */\n    let finalType = chartType;\n    let indexAxis = 'x';\n    let labelAnchor = 'end';\n    let labelAlign = 'top';\n    let labelColor = '#444';\n\n    /* Xử lý Horizontal Bar */\n    if (chartType === 'horizontalBar') {\n        finalType = 'bar';\n        indexAxis = 'y'; \n        labelAnchor = 'end'; \n        labelAlign = 'right'; \n    }\n\n    /* Xử lý Pie/Doughnut */\n    const isPie = (chartType === 'doughnut' || chartType === 'pie');\n    if (isPie) {\n        labelAnchor = 'center';\n        labelAlign = 'center';\n        labelColor = '#fff';\n    }\n\n    /* Logic Format Trục (1000 -> 1k) */\n    const axisFormatter = function(value) {\n        if(typeof value !== 'number') return value;\n        if(value >= 1000000000) return (value/1000000000).toFixed(1) + 'B';\n        if(value >= 1000000) return (value/1000000).toFixed(1) + 'M';\n        if(value >= 1000) return (value/1000).toFixed(1) + 'k';\n        return value;\n    };\n\n    const scalesConfig = {};\n    if (!isPie) {\n        if (indexAxis === 'y') {\n            /* Bar Ngang: Format trục X */\n            scalesConfig.x = { beginAtZero: true, ticks: { callback: axisFormatter } };\n            scalesConfig.y = { grid: { display: false } };\n        } else {\n            /* Bar Dọc: Format trục Y */\n            scalesConfig.y = { beginAtZero: true, ticks: { callback: axisFormatter } };\n            scalesConfig.x = { grid: { display: false } };\n        }\n    }\n\n    const ctx = document.getElementById('myChart');\n    new Chart(ctx, {\n        type: finalType,\n        data: {\n            labels: chartLabels,\n            datasets: [{\n                label: chartTitle,\n                data: chartData,\n                backgroundColor: colors,\n                borderColor: colors,\n                borderWidth: 1,\n                fill: finalType === 'line' ? false : true,\n                tension: 0.3\n            }]\n        },\n        options: {\n            indexAxis: indexAxis,\n            responsive: true,\n            maintainAspectRatio: true,\n            aspectRatio: 1.777,\n            layout: { padding: { top: 25, right: 35, left: 10, bottom: 10 } },\n            plugins: {\n                legend: { display: true, position: 'bottom', labels: { usePointStyle: true } },\n                title: { display: !!mainTitle, text: mainTitle, font: {size: 16, weight: 'bold'}, padding: {bottom: 20} },\n                datalabels: {\n                    display: true,\n                    color: labelColor,\n                    anchor: labelAnchor,\n                    align: labelAlign,\n                    offset: 4,\n                    font: { weight: 'bold', size: 11 },\n                    formatter: function(value) {\n                        if(typeof value === 'number') return value.toString().replace(/\\\\B(?=(\\\\d{3})+(?!\\\\d))/g, \",\");\n                        return value;\n                    }\n                },\n                tooltip: {\n                    callbacks: {\n                        label: function(context) {\n                             let label = context.dataset.label || '';\n                             if (label) { label += ': '; }\n                             let val = context.parsed[indexAxis === 'y' ? 'x' : 'y'];\n                             if (val !== null && val !== undefined) {\n                                 label += val.toString().replace(/\\\\B(?=(\\\\d{3})+(?!\\\\d))/g, \",\");\n                             }\n                             return label;\n                        }\n                    }\n                }\n            },\n            scales: scalesConfig\n        }\n    });\n} catch (err) {\n    console.error(\"Chart Error:\", err);\n    document.body.innerHTML = '<div style=\"color:red;padding:20px\">Lỗi hiển thị biểu đồ: ' + err.message + '</div>';\n}\n\nnew ResizeObserver(() => send(\"streamlit:setFrameHeight\",{height:document.body.scrollHeight+10})).observe(document.body);\n</script>\n</body>\n</html>\n`;\n\n// 3. Loop xử lý và nén HTML\nfor (const item of aiResponse) {\n    if (item.type === 'text') {\n        finalReportList.push({\n            type: 'text',\n            data: item.content \n        });\n    } else if (item.type === 'chart_config') {\n        const chartConfigStr = JSON.stringify(item.config || {}).replace(/</g, '\\\\u003c');\n        \n        // Thay thế config vào template\n        let fullHtml = HTML_TEMPLATE.replace('{{CHART_CONFIG_INJECT}}', chartConfigStr);\n        \n        // --- MINIFY: Xóa toàn bộ dấu xuống dòng ---\n        // Đây là bước quan trọng nhất để fix lỗi JSON đầu ra\n        fullHtml = fullHtml.replace(/[\\r\\n]+/g, \" \");\n        \n        finalReportList.push({\n            type: 'chart',\n            data: fullHtml\n        });\n    }\n}\n\nreturn [{\n    json: {\n        output: finalReportList\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        80
      ],
      "id": "5d934b45-7ed7-45a0-af65-c02ee436eab7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -1232,
        1760
      ],
      "id": "75cc83dd-84e0-4ad0-adaa-f871da9f7a7f",
      "name": "Think_plan"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1328,
        1760
      ],
      "id": "a826d59e-e17f-40d5-a927-6cc270d71f6c",
      "name": "OpenRouter Chat Model6",
      "credentials": {
        "openRouterApi": {
          "id": "l4b7nZCi1lDVhESq",
          "name": "OpenRouter - trả phí"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"critical_issues\": {\n      \"type\": \"array\",\n      \"description\": \"Danh sách các lỗi kỹ thuật nghiêm trọng (Sai schema, sai logic). Tối đa 3 lỗi quan trọng nhất.\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"minItems\": 0,\n      \"maxItems\": 3\n    },\n    \"recommended_metrics\": {\n      \"type\": \"array\",\n      \"description\": \"Danh sách các chỉ số Business/KPIs nên bổ sung. Tối đa 3 chỉ số giá trị nhất.\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"minItems\": 0,\n      \"maxItems\": 3\n    }\n  },\n  \"required\": [\n    \"critical_issues\",\n    \"recommended_metrics\"\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1216,
        1568
      ],
      "id": "c28b57f4-4b2f-418e-9b2b-570f53753199",
      "name": "Parser Type Array"
    },
    {
      "parameters": {
        "text": "=# ROLE & OBJECTIVE\nB?n l? m?t Senior Tech Lead ki?m Business Data Analyst kh? t?nh v? th?c d?ng.\nNhi?m v? c?a b?n l? REVIEW gi?i ph?p c?a Junior Analyst. B?n kh?ng c? nhi?u th?i gian, n?n ch? t?p trung v?o nh?ng v?n ?? c?t l?i nh?t.\n\n# INPUT DATA\n<database_schema>\n{{$('schema').item.json.schema }}\n</database_schema>\n\n<user_request>\n{{ $('Edit Fields').item.json.message }}\n</user_request>\n\n<analyst_proposal>\n{{ $fromAI(\"suggestions\", \"Danh s?ch ph?n t?ch chuy?n s?u (JSON array object: title, angle, sql)\", \"json\") }}\n</analyst_proposal>\n\nL?u ?: M?i item c? {title, angle, sql}. N?u <analyst_proposal> l? array, h?y review t?ng item v? n?u r? title/angle khi b?o l?i.\n\n# INSTRUCTIONS & THINKING PROCESS (S? d?ng Tool Think_plan)\nB?n B?T BU?C ph?i suy lu?n t?ng b??c trong `Think_plan`:\n\n1.  **B??c 1: Schema Integrity & SQL Validity (K? thu?t):**\n    -   ??i chi?u t?n B?ng/C?t trong <analyst_proposal> v?i <database_schema>.\n    -   Ki?m tra SQL: 1 statement, read-only, kh?ng `SELECT *`, kh?ng DDL/DML, c? `LIMIT` khi `GROUP BY`, c? ph?p PostgreSQL h?p l?.\n    -   N?u d?ng view t?ng h?p (v_*), cho ph?p SELECT tr?c ti?p c?t s? li?u; v?n kh?ng `SELECT *`.\n    -   *T? duy ?u ti?n:* L?i sai t?n c?t (Hallucination) v? l?i SQL l? nghi?m tr?ng nh?t, ph?i ?u ti?n b?o c?o tr??c.\n\n2.  **B??c 2: Logic & Optimization:**\n    -   Query c? gi?i quy?t ??ng <user_request> kh?ng?\n    -   C?c suggestions c? tr?ng g?c nh?n ho?c l?ch m?c ti?u kh?ng? N?u c?, b?o l?i ch?nh.\n\n3.  **B??c 3: Metric & Insight Discovery:**\n    -   T? d? li?u th?, h?y ngh? ra c?c Metrics (KPIs) gi?p s?p ra quy?t ??nh (VD: Conversion Rate, Retention, AOV...).\n    -   *T? duy ?u ti?n:* Ch? ch?n ra t?i ?a 3 metrics c? t?c ??ng l?n nh?t ??n doanh thu ho?c hi?u su?t.\n\n# OUTPUT RULES (STRICT JSON)\nB?n ph?i tr? v? k?t qu? d??i d?ng JSON tu?n th? ch?nh x?c Schema.\n- N?u danh s?ch qu? d?i, h?y T? ??NG C?T B?, ch? gi? l?i **Top 3** m?c quan tr?ng nh?t.\n\n# RESPONSE SCHEMA\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"critical_issues\": {\n      \"type\": \"array\",\n      \"description\": \"Danh s?ch c?c l?i k? thu?t nghi?m tr?ng (Sai schema, sai logic). T?i ?a 3 l?i quan tr?ng nh?t.\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"minItems\": 0,\n      \"maxItems\": 3\n    },\n    \"recommended_metrics\": {\n      \"type\": \"array\",\n      \"description\": \"Danh s?ch c?c ch? s? Business/KPIs n?n b? sung. T?i ?a 3 ch? s? gi? tr? nh?t.\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"minItems\": 0,\n      \"maxItems\": 3\n    }\n  },\n  \"required\": [\n    \"critical_issues\",\n    \"recommended_metrics\"\n  ]\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1328,
        1392
      ],
      "id": "9bb0e577-52a3-4148-9039-de7fa13bde1d",
      "name": "Check_plan"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35210577-2cf5-4d99-9233-859aca521185",
              "name": "schema",
              "value": "BEEBOX DATABASE SCHEMA V5\n\n=== TABLES (23) ===\n\nsystem_config: config_id PK, config_key VARCHAR(100) UNIQUE NOT NULL, config_value VARCHAR(255) NOT NULL, description TEXT\n\ndepartment: department_id PK, department_name TEXT NOT NULL\n\nemployee: employee_id PK, full_name TEXT NOT NULL, email TEXT UNIQUE, department_id FK, manager_id FK, role TEXT CHECK('Sales','Sales_Manager','Marketing_Staff','Finance_Controller','Admin')\n\nannual_budget: annual_budget_id PK, department_id FK, year INT NOT NULL, category TEXT NOT NULL, total_amount NUMERIC(19,2) NOT NULL, amount_spent NUMERIC(19,2) DEFAULT 0, amount_remaining NUMERIC(19,2) GENERATED\n\nrequest: request_id PK, request_code TEXT UNIQUE NOT NULL, title TEXT NOT NULL, requester_id FK, department_id FK, description TEXT, status TEXT CHECK('Draft','Pending','Approved','Rejected','Completed'), event_date TIMESTAMP, total_estimated_amount NUMERIC(19,2) DEFAULT 0, annual_budget_id FK, campaign_id FK, campaign_code VARCHAR(100)\n\nbudget_item: item_id PK, request_id FK CASCADE, item_name TEXT NOT NULL, description TEXT, requested_amount NUMERIC(19,2) NOT NULL, vendor_quote_link TEXT\n\ndocument: document_id PK, request_id FK CASCADE, file_name TEXT NOT NULL, file_path TEXT NOT NULL, uploaded_by_id FK, upload_timestamp TIMESTAMP\n\napproval_workflow: step_id PK, request_id FK CASCADE, step_number INT NOT NULL, approver_id FK, status TEXT CHECK('Pending','Approved','Rejected','Skipped'), comment TEXT, action_timestamp TIMESTAMP, UNIQUE(request_id,step_number)\n\ncampaign: campaign_id PK, campaign_code VARCHAR(100) UNIQUE NOT NULL, campaign_name VARCHAR(255) NOT NULL, description TEXT, start_date DATE, end_date DATE, status VARCHAR(50) CHECK('Draft','Active','Completed','Cancelled') DEFAULT 'Draft'\n\npipeline_stage_config: stage_id PK, stage_name VARCHAR(50) UNIQUE NOT NULL, stage_order INT UNIQUE NOT NULL, color VARCHAR(20) DEFAULT '#9ca3af', is_active BOOL DEFAULT TRUE\n\nsales_channel_config: channel_id PK, channel_name VARCHAR(50) UNIQUE NOT NULL, color VARCHAR(20) DEFAULT '#6b7280'\n\nparty: party_id PK, name VARCHAR(255) NOT NULL, date_of_birth DATE, gender gender_enum('Male','Female','Other'), citizen_id VARCHAR(20), location VARCHAR(255), phone_number VARCHAR(20), email VARCHAR(255), role VARCHAR(50) CHECK('Customer','Lead','Partner','Beneficiary','Insured','Owner','Agent'), pipeline_stage_id FK, sales_channel_id FK, assigned_to FK\n\nactivity: activity_id PK, employee_id FK NOT NULL, party_id FK, activity_type VARCHAR(50) NOT NULL CHECK('Call','Meeting','Email','Presentation','Follow-up','Site Visit','Other'), activity_date TIMESTAMP NOT NULL, notes TEXT, outcome VARCHAR(50), next_action_date TIMESTAMP\n\npipeline_history: history_id PK, party_id FK NOT NULL, from_stage_id FK, to_stage_id FK, changed_by FK, changed_at TIMESTAMP, notes TEXT\n\nproduct_category: category_id PK, category_name VARCHAR(100) UNIQUE NOT NULL, description TEXT\n\nproduct_type: type_id PK, category_id FK, type_name VARCHAR(100) NOT NULL, description TEXT, UNIQUE(category_id,type_name)\n\nproduct: product_id PK, product_code VARCHAR(50) UNIQUE NOT NULL, product_name VARCHAR(255) NOT NULL, category_id FK, type_id FK, status VARCHAR(50) NOT NULL CHECK('Active','Discontinued'), issue_date DATE NOT NULL, end_date DATE\n\nsales_target: target_id PK, category_id FK NOT NULL, type_id FK, year INT NOT NULL, month INT NOT NULL CHECK(1-12), target_amount NUMERIC(19,2) NOT NULL DEFAULT 0, target_quantity INT DEFAULT 0\n\npolicy: policy_id PK, policy_number VARCHAR(50) UNIQUE NOT NULL, party_id FK NOT NULL, salesperson_id FK, effective_date TIMESTAMP NOT NULL, expiration_date TIMESTAMP, status VARCHAR(50) NOT NULL CHECK('Pending','Active','Cancelled','Expired','Lapsed'), premium_due_date TIMESTAMP, campaign_id FK, campaign_code VARCHAR(100)\n\ncoverage: coverage_id PK, policy_id FK NOT NULL, party_id FK NOT NULL, product_id FK NOT NULL, sum_assured NUMERIC(19,2) NOT NULL, premium_amount NUMERIC(19,2)\n\nclaim: claim_id PK, coverage_id FK NOT NULL, event_date TIMESTAMP, request_date TIMESTAMP NOT NULL, claim_status VARCHAR(50) NOT NULL CHECK('Submitted','In Review','Pending Info','Approved','Rejected','Paid'), requested_amount NUMERIC(19,2), approved_amount NUMERIC(19,2), description TEXT, payment_date TIMESTAMP\n\ntransaction: transaction_id PK, policy_id FK, claim_id FK, transaction_type VARCHAR(50) NOT NULL CHECK('Premium Payment','Claim Payout','Commission','Refund','Maturity Benefit'), amount NUMERIC(19,2) NOT NULL, transaction_date TIMESTAMP NOT NULL, is_cost BOOL DEFAULT FALSE (auto-set by trigger)\n\npolicy_rule: rule_id PK, rule_name TEXT UNIQUE NOT NULL, rule_value NUMERIC, description TEXT\n\n=== VIEWS (11) - EXACT COLUMNS ===\n\nv_pipeline_stages(id INT, label VARCHAR, count BIGINT, color VARCHAR, year INT, month INT)\n\nv_top_performers_heatmap(name TEXT, leads_count BIGINT, activities_count BIGINT, revenue NUMERIC, year INT, month INT)\n\nv_top_performers_list(rank BIGINT, name TEXT, revenue NUMERIC, avatar TEXT, year INT, month INT)\n\nv_financial_data(year INT, month INT, month_label TEXT, revenue NUMERIC, cost NUMERIC)\n\nv_sales_channels(channel VARCHAR, value BIGINT, color VARCHAR, year INT, month INT)\n\nv_product_lines(id BIGINT, name VARCHAR, revenue NUMERIC, target NUMERIC, isHighlight BOOL, year INT, month INT)\n\nv_product_types(category VARCHAR, name VARCHAR, revenue NUMERIC, target NUMERIC, year INT, month INT)\n\nv_sales_quantity(type VARCHAR, sold BIGINT, target INT, year INT, month INT)\n\nv_kpis_summary(total_revenue NUMERIC, total_policies_sold BIGINT, active_pipeline BIGINT, conversion_rate_percent NUMERIC, year INT, month INT)\n\nv_campaign_roi(campaign_code VARCHAR, campaign_name VARCHAR, cost NUMERIC, revenue NUMERIC, policies_sold BIGINT, roi_percent NUMERIC, year FLOAT, month FLOAT)\n\nv_pipeline_funnel(from_stage VARCHAR, to_stage VARCHAR, transition_count BIGINT, avg_days NUMERIC, year FLOAT, month FLOAT)\n\n=== QUERY EXAMPLES ===\n\nRevenue by product type this year:\nSELECT name, SUM(revenue) AS total FROM v_product_types WHERE year=EXTRACT(YEAR FROM CURRENT_DATE) GROUP BY name ORDER BY total DESC LIMIT 10\n\nTop performers this month:\nSELECT name, revenue FROM v_top_performers_list WHERE year=EXTRACT(YEAR FROM CURRENT_DATE) AND month=EXTRACT(MONTH FROM CURRENT_DATE) ORDER BY rank LIMIT 10\n\nMonthly financial trend:\nSELECT month_label, revenue, cost FROM v_financial_data WHERE year=2024 ORDER BY month LIMIT 12\n\nKPIs summary:\nSELECT total_revenue, total_policies_sold, active_pipeline, conversion_rate_percent, year, month FROM v_kpis_summary WHERE year=EXTRACT(YEAR FROM CURRENT_DATE) AND month=EXTRACT(MONTH FROM CURRENT_DATE) LIMIT 1\n\n=== RELATIONS ===\ndepartment 1--N employee 1--N request/party/policy\nannual_budget 1--N request 1--N budget_item\ncampaign 1--N request(cost)/policy(revenue)\nproduct_category 1--N product_type 1--N product\nparty 1--N policy 1--N coverage N--N claim\npolicy 1--N transaction\n\n=== KEY TRIGGERS ===\nis_cost auto-set by transaction_type\ncampaign_code auto-sync from campaign_id\namount_spent auto-update when request Approved\ntotal_estimated_amount auto-sum from budget_items\npipeline_history auto-record when party.pipeline_stage_id changes\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2064,
        1104
      ],
      "id": "8c888c3c-957c-47fc-b573-7e3aadede613",
      "name": "schema"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35210577-2cf5-4d99-9233-859aca521185",
              "name": "schema",
              "value": "BEEBOX DATABASE SCHEMA V5\n\n=== TABLES (23) ===\n\nsystem_config: config_id PK, config_key VARCHAR(100) UNIQUE NOT NULL, config_value VARCHAR(255) NOT NULL, description TEXT\n\ndepartment: department_id PK, department_name TEXT NOT NULL\n\nemployee: employee_id PK, full_name TEXT NOT NULL, email TEXT UNIQUE, department_id FK, manager_id FK, role TEXT CHECK('Sales','Sales_Manager','Marketing_Staff','Finance_Controller','Admin')\n\nannual_budget: annual_budget_id PK, department_id FK, year INT NOT NULL, category TEXT NOT NULL, total_amount NUMERIC(19,2) NOT NULL, amount_spent NUMERIC(19,2) DEFAULT 0, amount_remaining NUMERIC(19,2) GENERATED\n\nrequest: request_id PK, request_code TEXT UNIQUE NOT NULL, title TEXT NOT NULL, requester_id FK, department_id FK, description TEXT, status TEXT CHECK('Draft','Pending','Approved','Rejected','Completed'), event_date TIMESTAMP, total_estimated_amount NUMERIC(19,2) DEFAULT 0, annual_budget_id FK, campaign_id FK, campaign_code VARCHAR(100)\n\nbudget_item: item_id PK, request_id FK CASCADE, item_name TEXT NOT NULL, description TEXT, requested_amount NUMERIC(19,2) NOT NULL, vendor_quote_link TEXT\n\ndocument: document_id PK, request_id FK CASCADE, file_name TEXT NOT NULL, file_path TEXT NOT NULL, uploaded_by_id FK, upload_timestamp TIMESTAMP\n\napproval_workflow: step_id PK, request_id FK CASCADE, step_number INT NOT NULL, approver_id FK, status TEXT CHECK('Pending','Approved','Rejected','Skipped'), comment TEXT, action_timestamp TIMESTAMP, UNIQUE(request_id,step_number)\n\ncampaign: campaign_id PK, campaign_code VARCHAR(100) UNIQUE NOT NULL, campaign_name VARCHAR(255) NOT NULL, description TEXT, start_date DATE, end_date DATE, status VARCHAR(50) CHECK('Draft','Active','Completed','Cancelled') DEFAULT 'Draft'\n\npipeline_stage_config: stage_id PK, stage_name VARCHAR(50) UNIQUE NOT NULL, stage_order INT UNIQUE NOT NULL, color VARCHAR(20) DEFAULT '#9ca3af', is_active BOOL DEFAULT TRUE\n\nsales_channel_config: channel_id PK, channel_name VARCHAR(50) UNIQUE NOT NULL, color VARCHAR(20) DEFAULT '#6b7280'\n\nparty: party_id PK, name VARCHAR(255) NOT NULL, date_of_birth DATE, gender gender_enum('Male','Female','Other'), citizen_id VARCHAR(20), location VARCHAR(255), phone_number VARCHAR(20), email VARCHAR(255), role VARCHAR(50) CHECK('Customer','Lead','Partner','Beneficiary','Insured','Owner','Agent'), pipeline_stage_id FK, sales_channel_id FK, assigned_to FK\n\nactivity: activity_id PK, employee_id FK NOT NULL, party_id FK, activity_type VARCHAR(50) NOT NULL CHECK('Call','Meeting','Email','Presentation','Follow-up','Site Visit','Other'), activity_date TIMESTAMP NOT NULL, notes TEXT, outcome VARCHAR(50), next_action_date TIMESTAMP\n\npipeline_history: history_id PK, party_id FK NOT NULL, from_stage_id FK, to_stage_id FK, changed_by FK, changed_at TIMESTAMP, notes TEXT\n\nproduct_category: category_id PK, category_name VARCHAR(100) UNIQUE NOT NULL, description TEXT\n\nproduct_type: type_id PK, category_id FK, type_name VARCHAR(100) NOT NULL, description TEXT, UNIQUE(category_id,type_name)\n\nproduct: product_id PK, product_code VARCHAR(50) UNIQUE NOT NULL, product_name VARCHAR(255) NOT NULL, category_id FK, type_id FK, status VARCHAR(50) NOT NULL CHECK('Active','Discontinued'), issue_date DATE NOT NULL, end_date DATE\n\nsales_target: target_id PK, category_id FK NOT NULL, type_id FK, year INT NOT NULL, month INT NOT NULL CHECK(1-12), target_amount NUMERIC(19,2) NOT NULL DEFAULT 0, target_quantity INT DEFAULT 0\n\npolicy: policy_id PK, policy_number VARCHAR(50) UNIQUE NOT NULL, party_id FK NOT NULL, salesperson_id FK, effective_date TIMESTAMP NOT NULL, expiration_date TIMESTAMP, status VARCHAR(50) NOT NULL CHECK('Pending','Active','Cancelled','Expired','Lapsed'), premium_due_date TIMESTAMP, campaign_id FK, campaign_code VARCHAR(100)\n\ncoverage: coverage_id PK, policy_id FK NOT NULL, party_id FK NOT NULL, product_id FK NOT NULL, sum_assured NUMERIC(19,2) NOT NULL, premium_amount NUMERIC(19,2)\n\nclaim: claim_id PK, coverage_id FK NOT NULL, event_date TIMESTAMP, request_date TIMESTAMP NOT NULL, claim_status VARCHAR(50) NOT NULL CHECK('Submitted','In Review','Pending Info','Approved','Rejected','Paid'), requested_amount NUMERIC(19,2), approved_amount NUMERIC(19,2), description TEXT, payment_date TIMESTAMP\n\ntransaction: transaction_id PK, policy_id FK, claim_id FK, transaction_type VARCHAR(50) NOT NULL CHECK('Premium Payment','Claim Payout','Commission','Refund','Maturity Benefit'), amount NUMERIC(19,2) NOT NULL, transaction_date TIMESTAMP NOT NULL, is_cost BOOL DEFAULT FALSE (auto-set by trigger)\n\npolicy_rule: rule_id PK, rule_name TEXT UNIQUE NOT NULL, rule_value NUMERIC, description TEXT\n\n=== VIEWS (11) - EXACT COLUMNS ===\n\nv_pipeline_stages(id INT, label VARCHAR, count BIGINT, color VARCHAR, year INT, month INT)\n\nv_top_performers_heatmap(name TEXT, leads_count BIGINT, activities_count BIGINT, revenue NUMERIC, year INT, month INT)\n\nv_top_performers_list(rank BIGINT, name TEXT, revenue NUMERIC, avatar TEXT, year INT, month INT)\n\nv_financial_data(year INT, month INT, month_label TEXT, revenue NUMERIC, cost NUMERIC)\n\nv_sales_channels(channel VARCHAR, value BIGINT, color VARCHAR, year INT, month INT)\n\nv_product_lines(id BIGINT, name VARCHAR, revenue NUMERIC, target NUMERIC, isHighlight BOOL, year INT, month INT)\n\nv_product_types(category VARCHAR, name VARCHAR, revenue NUMERIC, target NUMERIC, year INT, month INT)\n\nv_sales_quantity(type VARCHAR, sold BIGINT, target INT, year INT, month INT)\n\nv_kpis_summary(total_revenue NUMERIC, total_policies_sold BIGINT, active_pipeline BIGINT, conversion_rate_percent NUMERIC, year INT, month INT)\n\nv_campaign_roi(campaign_code VARCHAR, campaign_name VARCHAR, cost NUMERIC, revenue NUMERIC, policies_sold BIGINT, roi_percent NUMERIC, year FLOAT, month FLOAT)\n\nv_pipeline_funnel(from_stage VARCHAR, to_stage VARCHAR, transition_count BIGINT, avg_days NUMERIC, year FLOAT, month FLOAT)\n\n=== QUERY EXAMPLES ===\n\nRevenue by product type this year:\nSELECT name, SUM(revenue) AS total FROM v_product_types WHERE year=EXTRACT(YEAR FROM CURRENT_DATE) GROUP BY name ORDER BY total DESC LIMIT 10\n\nTop performers this month:\nSELECT name, revenue FROM v_top_performers_list WHERE year=EXTRACT(YEAR FROM CURRENT_DATE) AND month=EXTRACT(MONTH FROM CURRENT_DATE) ORDER BY rank LIMIT 10\n\nMonthly financial trend:\nSELECT month_label, revenue, cost FROM v_financial_data WHERE year=2024 ORDER BY month LIMIT 12\n\nKPIs summary:\nSELECT total_revenue, total_policies_sold, active_pipeline, conversion_rate_percent, year, month FROM v_kpis_summary WHERE year=EXTRACT(YEAR FROM CURRENT_DATE) AND month=EXTRACT(MONTH FROM CURRENT_DATE) LIMIT 1\n\n=== RELATIONS ===\ndepartment 1--N employee 1--N request/party/policy\nannual_budget 1--N request 1--N budget_item\ncampaign 1--N request(cost)/policy(revenue)\nproduct_category 1--N product_type 1--N product\nparty 1--N policy 1--N coverage N--N claim\npolicy 1--N transaction\n\n=== KEY TRIGGERS ===\nis_cost auto-set by transaction_type\ncampaign_code auto-sync from campaign_id\namount_spent auto-update when request Approved\ntotal_estimated_amount auto-sum from budget_items\npipeline_history auto-record when party.pipeline_stage_id changes\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        672
      ],
      "id": "bdd82726-6f29-4286-ab43-955697c8d685",
      "name": "schema1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE & OBJECTIVE\nB?n l? m?t **Senior Business Intelligence Consultant (Chuy?n gia t? v?n BI)**.\nNhi?m v?: Ph?n t?ch d? li?u th? t? SQL/API v? vi?t m?t b?n b?o c?o ng?n g?n, s?c s?o, c? t?nh k? chuy?n (Data Storytelling).\nM?c ti?u c?t l?i: Bi?n nh?ng con s? v? h?n th?nh **Th?ng tin chi ti?t c? gi? tr? (Actionable Insights)**. B?o c?o ph?i m?ch l?c, c?c ? ph?i li?n k?t ch?t ch? v?i nhau, tuy?t ??i kh?ng li?t k? s? li?u m?t c?ch r?i r?c, m?y m?c.\n\n# INPUT DATA\n<current_time>\n{{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}\n</current_time>\n\n<user_question>\n{{ $('Edit Fields').first().json.message }}\n</user_question>\n\n<analysis_intent>\n{{ $('AI Agent').first().json.output.toJsonString() }}\n</analysis_intent>\n\n<data_results>\n{{ $json.data.toJsonString() }}\n</data_results>\n\nL?u ?: `data_results` l? m?ng c?c item; m?i item c? th? g?m {title, angle, data} (data l? k?t qu? SQL c?a t?ng suggestion).\n\n# THINKING PROCESS (QUY TR?NH T? DUY - B?T BU?C)\nTr??c khi t?o n?i dung, h?y th?c hi?n c?c b??c t? duy sau:\n1.  **Contextualize:** ??i chi?u k?t qu? `<data_results>` v?i c?u h?i `<user_question>`. D? li?u n?y tr? l?i tr?c ti?p hay gi?n ti?p?\n2.  **Synthesis (T?ng h?p):** T?m xu h??ng (Trend), b?t th??ng (Outlier) ho?c t??ng quan (Correlation).\n3.  **Benchmarking:** So s?nh v?i m?c ti?u/ng?n s?ch/k? tr??c n?u d? li?u c?.\n4.  **Drivers:** N?u c?c y?u t? ??ng g?p ch?nh (top/bottom) theo ph?n kh?c n?u d? li?u c?.\n5.  **So what?** R?t ra ? ngh?a v? t?c ??ng l?n quy?t ??nh.\n\n# REPORT GUIDELINES\nN?i dung trong tr??ng `text` ph?i tu?n th? nghi?m ng?t:\n\n1.  **C?u tr?c b?o c?o (Flow):**\n    * **M? ??u (Executive Summary):** Tr? l?i th?ng v?o c?u h?i c?a user b?ng 1 c?u t?m t?t k?t qu? quan tr?ng nh?t.\n    * **Di?n gi?i chi ti?t (Key Findings):** T?i thi?u 2 g?c nh?n kh?c nhau (?u ti?n b?m theo `angle/title` trong `<data_results>`).\n    * **K?t lu?n/?? xu?t:** G?i ? h?nh ??ng c? th? d?a tr?n d? li?u.\n\n2.  **??nh d?ng (Formatting):**\n    * S? d?ng Markdown.\n    * **In ??m** c?c con s? Key Metrics.\n    * S? d?ng icon/emoji t?i gi?n (??, ??, ??, ?) ?? l?m n?i b?t xu h??ng (kh?ng l?m d?ng).\n    * N?u d? li?u `<data_results>` l? r?ng (`[]` ho?c `null`), b?o c?o: \"Hi?n ch?a c? d? li?u ghi nh?n cho y?u c?u n?y trong h? th?ng.\"\n\n3.  **Gi?ng v?n:**\n    * Chuy?n nghi?p, kh?ch quan, ng?n g?n.\n    * Tr?nh c?c c?m t? th?a nh?: \"D?a tr?n d? li?u...\", \"D??i ??y l? b?o c?o...\".\n\n# OUTPUT SCHEMA (Strict JSON)\nCh? tr? v? JSON Object thu?n t?y, KH?NG d?ng markdown formatting (```json) b?c b?n ngo?i.\n\n{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"text\": {\n      \"type\": \"string\",\n      \"description\": \"N?i dung b?o c?o Markdown ?? ???c t?ng h?p m?ch l?c.\"\n    }\n  },\n  \"required\": [\"text\"]\n}\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        80
      ],
      "id": "e2aa4dce-4d6c-4cc1-85bc-6e07560353cc",
      "name": "Basic LLM Chain",
      "retryOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb17371c-6a34-421e-b659-75aa42041122",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3088,
        864
      ],
      "id": "31641762-4ecc-4c8f-a259-1419f4be86b8",
      "name": "Webhook Intake",
      "webhookId": "3916d1a6-c2f4-45e5-8bcd-d4103c3c41ef"
    }
  ],
  "connections": {
    "Agent Output Classifier": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 1
          }
        ],
        []
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Output Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Parser Type Array1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "QUERY_DATABASE": {
      "ai_tool": [
        [
          {
            "node": "Agent Output Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parser Type Array1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "schema1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Type Array2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Parser Type Array2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Webhook Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think_plan": {
      "ai_tool": [
        [
          {
            "node": "Check_plan",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Parser Type Array",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Check_plan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser Type Array": {
      "ai_outputParser": [
        [
          {
            "node": "Check_plan",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Check_plan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "schema": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "schema1": {
      "main": [
        [
          {
            "node": "Agent Output Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Intake": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook Intake": [
      {
        "headers": {
          "host": "chatgpt.id.vn",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
          "content-length": "187",
          "accept": "*/*",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5",
          "content-type": "application/json",
          "origin": "https://dashboard-ai4life.vercel.app",
          "priority": "u=1, i",
          "referer": "https://dashboard-ai4life.vercel.app/",
          "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "via": "2.0 Caddy",
          "x-forwarded-for": "14.191.240.96",
          "x-forwarded-host": "chatgpt.id.vn",
          "x-forwarded-proto": "https"
        },
        "params": {},
        "query": {},
        "body": {
          "message": "Mình đang xem dashboard BeeBox, mục \"KPI tháng\": Tháng T11: thực đạt 1.40 tỷ, mục tiêu 1.68 tỷ, hoàn thành 83%. Hãy phân tích về vấn đề này."
        },
        "webhookUrl": "https://chatgpt.id.vn/webhook/bb17371c-6a34-421e-b659-75aa42041122",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "instanceId": "4ab2962d7056cbe8bc8d7bffb15c50a0d6270ddabb3874584b7c9ceb1bd4506c"
  }
}